@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #141313;
}
ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
ul li {
  list-style: none;
  position: relative;
}
ul li a {
  position: relative;
  text-decoration: none;
  font-size: 3em;
  line-height: 2em;
  letter-spacing: 2px;
  color: transparent;
  -webkit-text-stroke: 1px var(--clr);
}
ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0px;
  overflow: hidden;
  transition: 1s;

  border-right: 8px solid var(--clr);
}
ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(7px -12px 50px var(--clr));
}
